<div class="row">
  <h1 class="col-sm-6"><%= I18n.t(:title, scope: [:applicants, :index]) %></h1>

  <div class="page-actions col-sm-6">
    <a class="btn btn-link" ui-sref="home"><%=I18n.t(:back, scope: [:applicants, :index])%></a>
    <a class="btn btn-success" ui-sref="applicants.new"><span class="glyphicon glyphicon-plus"></span> <%=I18n.t(:new, scope: [:applicants, :index])%></a>
  </div>

</div>
<hr>
<div ui-view="applicants_table"></div>