<div class="row">
  <h1 class="col-sm-6"><%= I18n.t(:title, scope: [:applicants, :new]) %></h1>

  <div class="page-actions col-sm-6">
    <a class="btn btn-link" ui-sref="applicants.index"><%=I18n.t(:back, scope: [:applicants, :new])%></a>
    <a class="btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> <%=I18n.t(:submit, scope: [:applicants, :new])%></a>
  </div>

</div>
<hr>
<div ui-view="form"></div>