<table class="table table-no-border skills">
  <tr ng-repeat="skill in skills" ng-class="{ 'active' : skill.id==nested_skill.id }">
    <td class="text-right">
        <label>
          <input type="checkbox" id="input_skill_ids" name="skill_ids[]"
                 value="{{ skill.id }}"
                 ng-checked="$parent.object.skill_ids.indexOf(skill.id) > -1"
                 ng-click="toggle_skill(skill.id)">
        </label>
    </td>
    <td>{{ skill.name }}</td>
    <td class="actions">
      <a class="btn btn-primary btn-sm" ng-click="set_cursor(skill)"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-danger btn-sm" ng-click="delete_skill(skill, '<%= I18n.t(:confirmation, scope: [:skills, :index]) %>')" ><span class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="input-control">
      <input type="text" class="form-control" id="input_name" name="name" ng-model="skill_name" placeholder="<%= I18n.t(:name, scope: [:activerecord, :attributes, :skill]) %>">
    </td>
    <td class="actions">
      <a class="btn btn-success btn-sm" ng-if="!nested_skill.id" ng-click="create_skill()"><span class="glyphicon glyphicon-plus"></span></a>
      <a class="btn btn-info btn-sm" ng-if="nested_skill.id" ng-click="update_skill()"><span class="glyphicon glyphicon-ok"></span></a>
      <a class="btn btn-sm" ng-if="nested_skill.id" ng-click="set_cursor()"><span class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
</table>