.jumbotron
  .btn-group-vertical role="group"
    a.btn.btn-link.btn-lg ui-sref="vacancies.index"
      =I18n.t(:vacancies, scope: [:angular, :home, :index])
    a.btn.btn-link.btn-lg ui-sref="applicants.index"
      =I18n.t(:applicants, scope: [:angular, :home, :index])
