<div class="jumbotron">
  <div class="btn-group-vertical" role="group">
    <a class="btn btn-link btn-lg" href="/vacancies"><%= I18n.t(:vacancies, scope: [:angular, :home, :index]) %></a>
    <a class="btn btn-link btn-lg" href="/applicants"><%= I18n.t(:applicants, scope: [:angular, :home, :index]) %></a>
  </div>
</div>
