.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.page-actions {
  padding-top: 25px;
  text-align: right;
}

td {
  padding-top: 13px !important;
}

.actions {
  padding-top: 8px !important;
}

table {
  &.show-attributes {
    tr:first-child {
      td, th {
        border-top: none;
      }
    }

    th {
      padding-top: 13px !important;
      padding-bottom: 13px !important;
    }
  }
}

.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tfoot>tr>th,
.table-no-border>thead>tr>td,
.table-no-border>tbody>tr>td,
.table-no-border>tfoot>tr>td {
  border-top: none;
}
