.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.page-actions {
  padding-top: 25px;
  text-align: right;
}

td {
  padding-top: 13px !important;
}

.actions {
  padding-top: 8px !important;
}
