<!DOCTYPE html>
<html ng-app="employmentAgency">
<head>
  <title>Employment Agency</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <base href="/">
</head>
<body>

<section class="container">
  <%= yield %>
</section>

</body>
</html>
